  /* Custom styling for the Dropzone */
  #my-awesome-dropzone {
    border: 2px dashed #cccccc !important; /* Dashed border */
    padding: 20px !important;
    border-radius: 5px !important;
    background-color: #f9f9f9 !important;
    text-align: center !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    min-height: 150px !important; /* Adjust as needed */
}


.select2-container {
    height: 100%;
  
}

.select2-container {
    width: 100% !important;
    
}



.select2-container .select2-selection--single {
    height: 42px !important;
   
}



.select2-container--default .select2-selection--single .select2-selection__rendered {

    margin: 6px;

}



.select2-results__options {
    font-weight: 400;
    font-size: 0.8571em;
}

.select2-selection {
  border: 1px solid #d2d6da !important;
}


.select2-selection__arrow {
  margin: 8px;
}